.flower-pot-with-decorative-gra-icon,
.flower-pot-with-decorative-gra-icon1 {
  width: 215px;
  height: 210px;
  position: relative;
  object-fit: cover;
}
.flower-pot-with-decorative-gra-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.flower-pot-with-decorative-gra-parent {
  width: 805px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.detoxify,
.detoxify1 {
  height: 116px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-shadow: 3px 0 0#000, 0 3px 0#000, -3px 0 0#000, 0-3px 0#000;
  max-width: 100%;
}
.detoxify1 {
  height: 102px;
  color: #9aded1;
  z-index: 1;
  margin-left: -585px;
}
.background-rectangle,
.detoxify-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background-rectangle {
  width: 629px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.detoxify-label {
  align-self: stretch;
}
.lorem-ipsum-dolor {
  width: 591px;
  position: relative;
  font-size: 20px;
  display: inline-block;
  color: #000;
  max-width: 100%;
}
.decorative-pot-rectangle,
.detoxify-label-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.detoxify-label-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: 79px 0;
}
.decorative-pot-rectangle {
  flex: 1;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-height: 323px;
}
.flower-pot-with-decorative-gra-icon2 {
  height: 210px;
  width: 215px;
  position: relative;
  object-fit: cover;
}
.decorative-pot-rectangle-parent {
  width: 889px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.flower-pot-with-decorative-gra-icon3,
.flower-pot-with-decorative-gra-icon4 {
  height: 210px;
  width: 215px;
  position: relative;
  object-fit: cover;
}
.detoxify-frames-group {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #c7ece4;
  border: 0 solid #71cfbf;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.login {
  position: absolute;
  top: 57px;
  left: 29px;
  font-size: 60px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 193px;
  height: 104px;
  text-shadow: 2px 0 0 rgba(117, 208, 193, 0.5),
    0 2px 0 rgba(117, 208, 193, 0.5), -2px 0 0 rgba(117, 208, 193, 0.5),
    0-2px 0 rgba(117, 208, 193, 0.5);
  z-index: 1;
}
.ellipse-shape {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 228px;
  position: relative;
}
.login-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 161px;
  min-height: 294px;
}
.flower-pot-with-decorative-gra-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 72px;
}
.child-container,
.flower-pot-with-decorative-gra-group {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.child-container {
  width: 534px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 86px 0 0;
  min-width: 534px;
}
.flower-pot-with-decorative-gra-group {
  width: 858px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
}
.frame-group {
  flex: 1;
  flex-direction: column;
  gap: 15px 0;
  max-width: 100%;
}
.frame-group,
.frame-parent,
.side-square {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-square {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 22px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -10px;
}
.frame-parent {
  width: 960px;
  flex-direction: column;
  max-width: calc(100% - 1581px);
  flex-shrink: 0;
}
.side-sllipse-icon {
  margin-top: -79px;
  height: 1154px;
  width: 1569px;
  position: relative;
  max-width: calc(100% - 972px);
}
.desktop-1 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 92px 15px;
  box-sizing: border-box;
  gap: 0 12px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-77xl);
  color: #04668d;
  font-family: var(--font-poppins);
}
@media screen and (max-width: 2025px) {
  .frame-parent,
  .side-sllipse-icon {
    max-width: 100%;
  }
}
@media screen and (max-width: 1500px) {
  .frame-parent {
    max-width: 100%;
  }
}
@media screen and (max-width: 975px) {
  .flower-pot-with-decorative-gra-parent {
    flex-wrap: wrap;
  }
  .detoxify,
  .detoxify1 {
    font-size: var(--font-size-29xl);
  }
  .detoxify-label-parent {
    gap: 39px 0;
  }
  .decorative-pot-rectangle {
    min-width: 100%;
    min-height: auto;
  }
  .decorative-pot-rectangle-parent {
    flex-wrap: wrap;
  }
  .flower-pot-with-decorative-gra-icon3,
  .flower-pot-with-decorative-gra-icon4 {
    flex: 1;
  }
  .login {
    font-size: var(--font-size-29xl);
  }
  .login-button {
    min-height: auto;
  }
  .flower-pot-with-decorative-gra-container {
    flex-wrap: wrap;
    gap: 0 36px;
  }
  .child-container {
    flex: 1;
    min-width: 100%;
  }
  .flower-pot-with-decorative-gra-group {
    flex-wrap: wrap;
  }
  .frame-parent {
    max-width: 100%;
  }
  .desktop-1 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .detoxify,
  .detoxify1 {
    font-size: var(--font-size-10xl);
  }
  .lorem-ipsum-dolor {
    font-size: 16px;
  }
  .detoxify-label-parent {
    gap: 20px 0;
  }
  .login {
    font-size: 36px;
  }
  .flower-pot-with-decorative-gra-container {
    gap: 0 18px;
  }
  .child-container {
    padding-top: 30px;
    box-sizing: border-box;
  }
}