body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-open-sans: "Open Sans";
    --font-poppins: Poppins;
    --font-georama: Georama;
  
    /* Colors */
    --color-black: #000;
  
    /* Paddings */
    --padding-xl: 20px;
  }