.achievement {
  margin: 0;
  width: 523px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.whatsapp-image-2024-03-19-at-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1608px;
  height: 1128px;
  object-fit: cover;
}
.l0-removebg-preview-1-icon{
  position: absolute;
  top: 630px;
  
  left: 261px;
  width: 350px;
  height: 300px;
  object-fit: contain;
  z-index: 1;
}
.l0-removebg-preview-2-icon {
  position: absolute;
  top: 630px;
  
  left: 261px;
  width: 250px;
  height: 250px;
  object-fit: contain;
  z-index: 1;
}
.l0-removebg-preview-1-icon {
  top: 150px;
  left: 558px;
}
.content-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.progress {
  width: 589px;
  position: relative;
  display: inline-block;
  font-weight: 600;
  flex-shrink: 0;
  bottom: 130px;
  right:370px;
  max-width: 341%;
  z-index: 1;
}
.progress-label-area {
  width: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.bar {
  height: 22px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  display: inline-block;
  min-width: 59.4px;
  flex-shrink: 0;
  
  z-index: 1;
}
.progress-bar-container,
.progress-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.progress-bar-wrapper {
  width: 589px;
  justify-content: flex-start;
  row-gap: 20px;
}
.progress-bar-container {
  align-self: stretch;
  justify-content: flex-end;
}
.achieved-badges-till {
  width: 549px;
  position: relative;
  bottom: 150px;
  right:30px;
  font-size: var(--font-size-13xl);
  font-weight: 1000;
  font-family: var(--font-open-sans);
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.progress-detail {
  width: 679px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
  max-width: 100%;
}
.desktop-1,
.progress-detail-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.progress-detail-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 40px;
  max-width: 100%;
  text-align: left;
  font-size: 27px;
  font-family: var(--font-poppins);
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 44px 263px 303px 458px;
  gap: 443px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 64px;
  color: var(--color-black);
  font-family: var(--font-georama);
}
.bar {
  height: 22px;
  flex: 1;
  display:contents;
}
.bar-chart,
.progress-bar {
  justify-content: flex-start;
}
.bar-chart {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 36px;
  box-sizing: border-box;
  font-size: 32px;
  font-family: var(--font-open-sans);
  left:auto;
}
.progress-bar {
  width: 589px;
  flex-direction: column;
  gap: 72px;
  max-width: 100%;
}
.desktop-1,
.progress-bar,
.progress-bar-wrapper {
  display: flex;
  align-items: flex-start;
}
.progress-bar-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: 27px;
  font-family: var(--font-poppins);
}
.progress-container {
  width: 100%;
  bottom:150px;
  left:150px;
  background-color: #f0f0f0;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.progress-bar1 {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    width: 500px; /* Increased width */
    height: 30px; /* Increased height */
    background-color:#88918b; /* Black background */
    border-radius: 6px; /* Rounded corners */
    left:5%;
    text-align: center;
    line-height: 30px; /* Adjusted line height */
    color: #fff; /* White text color */
    font-size: 18px; /* Smaller font size */
}
@media screen and (max-width: 750px) {
  .achievement {
    font-size: 51px;
  }
  .achieved-badges-till,
  .bar {
    font-size: var(--font-size-7xl);
  }
  .progress-detail {
    gap: 36px;
  }
  .desktop-1 {
    gap: 221px;
    padding-left: 229px;
    padding-right: 131px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .achievement {
    font-size: 38px;
  }
  .progress {
    font-size: 22px;
  }
  .bar {
    font-size: var(--font-size-lgi);
  }
  .progress-bar-wrapper {
    flex-wrap: wrap;
  }
  .achieved-badges-till {
    font-size: var(--font-size-lgi);
  }
  .progress-detail {
    gap: 18px;
  }
  .desktop-1 {
    gap: 111px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
