.whatsapp-image-2024-03-19-at-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.detox-test {
  margin: 0;
  height: 86px;
  width: 523px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.value-pair {
  width: 1075px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  font-size: 64px;
  font-family: var(--font-georama);
}
.how-long-do {
  align-self: stretch;
  height: 45px;
  flex-shrink: 0;
}
.hours,
.how-long-do,
.x {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.x {
  width: 42px;
  flex-shrink: 0;
}
.hours {
  height: 45px;
  flex: 1;
}
.x-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hours1,
.x1 {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.x1 {
  width: 42px;
  display: inline-block;
}
.hours1 {
  margin-left: -1px;
  align-self: stretch;
}
.hours-wrapper,
.x-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hours-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0;
}
.x-group {
  align-self: stretch;
  flex-direction: row;
}
.hours2,
.x2 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.x2 {
  width: 42px;
  display: inline-block;
  flex-shrink: 0;
}
.hours2 {
  flex: 1;
}
.x-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hours3,
.x3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.x3 {
  width: 42px;
  display: inline-block;
  flex-shrink: 0;
}
.hours3 {
  flex: 1;
}
.frame-div,
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xs);
}
.frame-parent,
.input-splitter,
.output-combiner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.input-splitter,
.output-combiner {
  max-width: 100%;
}
.output-combiner {
  width: 358px;
  flex-direction: row;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
  text-align: left;
}
.input-splitter {
  width: 889px;
  flex-direction: column;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.what-type-of,
.x4,
.x5 {
  position: relative;
  font-weight: 600;
}
.what-type-of {
  align-self: stretch;
  z-index: 1;
}
.x4,
.x5 {
  z-index: 2;
}
.x4 {
  width: 42px;
  display: inline-block;
}
.x5 {
  flex: 1;
}
.x-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.x6,
.x7 {
  width: 42px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.frame-parent1,
.x-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.x-parent1 {
  width: 43px;
  gap: var(--gap-lg);
}
.upbeat-and-energetic {
  width: 415px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.relaxing-and-calming {
  width: 366px;
  display: inline-block;
  max-width: 100%;
}
.heavy-and-intense,
.relaxing-and-calming,
.varied-and-depending {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.heavy-and-intense {
  width: 433px;
  display: inline-block;
  max-width: 100%;
}
.varied-and-depending {
  align-self: stretch;
}
.relaxing-and-calming-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.frame-container,
.upbeat-and-energetic-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.upbeat-and-energetic-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  min-width: 340px;
  margin-left: -1px;
}
.frame-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.frame-wrapper,
.what-type-of-music-do-you-pref-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 689px;
  flex-direction: row;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
  text-align: left;
}
.what-type-of-music-do-you-pref-parent {
  width: 841px;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.do-you-listen {
  align-self: stretch;
  z-index: 1;
}
.do-you-listen,
.x8,
.yes {
  position: relative;
  font-weight: 600;
}
.x8 {
  width: 42px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.yes {
  flex: 1;
  z-index: 1;
}
.x-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.no,
.x9 {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.x9 {
  width: 42px;
  display: inline-block;
  z-index: 2;
}
.no {
  margin-left: -1px;
  align-self: stretch;
  z-index: 1;
}
.no-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.frame-parent2,
.no-wrapper,
.x-parent3 {
  display: flex;
  justify-content: flex-start;
}
.x-parent3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lg);
}
.do-you-listen-to-musicpodcast-parent,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper1 {
  width: 358px;
  flex-direction: row;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
  text-align: left;
}
.do-you-listen-to-musicpodcast-parent {
  width: 889px;
  flex-direction: column;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.do-you-use,
.x10,
.yes1 {
  position: relative;
  font-weight: 600;
}
.do-you-use {
  align-self: stretch;
  z-index: 1;
}
.x10,
.yes1 {
  display: inline-block;
}
.x10 {
  width: 42px;
  flex-shrink: 0;
  z-index: 2;
}
.yes1 {
  flex: 1;
  min-width: 41px;
  z-index: 1;
}
.x-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.no1,
.x11 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.x11 {
  width: 42px;
  flex-shrink: 0;
}
.no1 {
  flex: 1;
  min-width: 32px;
}
.x-parent5 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}
.frame-parent3,
.frame-wrapper2,
.x-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.frame-wrapper2 {
  width: 281px;
  flex-direction: row;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  text-align: left;
}
.desktop-1-inner,
.do-you-use-music-to-help-you-c-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.do-you-use-music-to-help-you-c-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.desktop-1-inner {
  width: 1074px;
  flex-direction: row;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.how-do-you {
  align-self: stretch;
  z-index: 1;
}
.how-do-you,
.x12,
.x13 {
  position: relative;
  font-weight: 600;
}
.x12 {
  width: 42px;
  display: inline-block;
  z-index: 1;
}
.x13 {
  flex: 1;
  z-index: 2;
}
.x-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.x14,
.x15 {
  width: 42px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.alignment-organizer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.alignment-organizer,
.geometry-manager,
.size-adjustments {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.size-adjustments {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.geometry-manager {
  width: 45px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.energized-and-motivated {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.relaxed-and-content {
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.grid-generator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.no-noticeable-change,
.overwhelmed-and-stressed {
  width: 458px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.no-noticeable-change {
  width: 350px;
}
.icon-inserter,
.link-handler {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.icon-inserter {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 479px;
  margin-left: -1px;
}
.link-handler {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.image-processor {
  width: 825px;
  flex-direction: row;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  text-align: left;
}
.data-aggregator,
.data-aggregator-wrapper,
.image-processor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-aggregator {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.data-aggregator-wrapper {
  width: 1133px;
  flex-direction: row;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.have-you-ever {
  align-self: stretch;
  z-index: 1;
}
.have-you-ever,
.x16,
.x17 {
  position: relative;
  font-weight: 600;
}
.x16 {
  width: 42px;
  display: inline-block;
  z-index: 1;
}
.x17 {
  flex: 1;
  z-index: 2;
}
.icon-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.x18,
.x19 {
  width: 42px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.icon-image-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.icon-image-parent,
.size-slider,
.size-slider-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.size-slider-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.size-slider {
  width: 45px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.no-i-havent,
.not-sure,
.prefer-not-to,
.yes-i-experience {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.no-i-havent {
  align-self: stretch;
}
.not-sure,
.prefer-not-to {
  width: 458px;
  display: inline-block;
  max-width: 100%;
}
.prefer-not-to {
  width: 350px;
}
.no-i-havent-experienced-any-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.color-picker,
.grid-guide {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.grid-guide {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  min-width: 479px;
  margin-left: -1px;
}
.color-picker {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.image-linker {
  width: 851px;
  flex-direction: row;
  padding: 0 35px;
  box-sizing: border-box;
  text-align: left;
}
.column-controller,
.image-linker,
.shape-sorter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shape-sorter {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.column-controller {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 25px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.do-you-pay {
  align-self: stretch;
  z-index: 1;
}
.do-you-pay,
.x20,
.x21 {
  position: relative;
  font-weight: 600;
}
.x20 {
  width: 42px;
  display: inline-block;
  z-index: 1;
}
.x21 {
  flex: 1;
  z-index: 2;
}
.x-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.x22,
.x23 {
  width: 42px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent5,
.frame-wrapper4,
.x-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.x-parent6 {
  width: 45px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.sometimes-depending-on,
.yes-i-often {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.no-i-primarily {
  width: 643px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.sometimes-depending-on-the-so-parent,
.yes-i-often-relate-to-or-anal-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.yes-i-often-relate-to-or-anal-parent {
  gap: var(--gap-lg);
}
.not-sure1 {
  width: 350px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-parent4,
.frame-parent6 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 11px;
  min-width: 479px;
  margin-left: -1px;
}
.frame-parent4 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.frame-wrapper3 {
  width: 869px;
  flex-direction: row;
  padding: 0 44px;
  box-sizing: border-box;
  text-align: left;
}
.desktop-1-child,
.do-you-pay-attention-to-the-ly-parent,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.do-you-pay-attention-to-the-ly-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.desktop-1-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 9px 0 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.have-you-ever1 {
  align-self: stretch;
  z-index: 1;
}
.have-you-ever1,
.x24,
.x25 {
  position: relative;
  font-weight: 600;
}
.x24 {
  width: 42px;
  display: inline-block;
  z-index: 1;
}
.x25 {
  flex: 1;
  z-index: 2;
}
.linkage-manager {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.x26 {
  width: 42px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.variable-holder {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi);
}
.function-set,
.nested-condition,
.variable-holder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nested-condition {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.function-set {
  width: 45px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.above-recommended-levels,
.below-recommended-levels {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.output-collector {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.above-80 {
  width: 458px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.function-set-parent,
.input-validator {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.input-validator {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
  min-width: 479px;
  margin-left: -1px;
}
.function-set-parent {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.filter-chain {
  width: 873px;
  flex-direction: row;
  padding: 0 46px;
  box-sizing: border-box;
  text-align: left;
}
.filter-chain,
.frame-section,
.have-you-ever-experienced-any-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.have-you-ever-experienced-any-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) var(--padding-2xs) 14px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.are-you-willing,
.x27,
.yes2 {
  position: relative;
  font-weight: 600;
}
.are-you-willing {
  align-self: stretch;
  text-align: center;
  z-index: 1;
}
.x27,
.yes2 {
  display: inline-block;
}
.x27 {
  width: 42px;
  flex-shrink: 0;
  z-index: 2;
}
.yes2 {
  flex: 1;
  min-width: 41px;
  z-index: 1;
}
.image-processor1,
.sound-processor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sound-processor {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.image-processor1 {
  width: 300px;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl);
  box-sizing: border-box;
}
.no2,
.x28 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.x28 {
  width: 42px;
  flex-shrink: 0;
  z-index: 2;
}
.no2 {
  flex: 1;
  min-width: 32px;
  z-index: 1;
}
.image-processor2,
.x-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.x-parent7 {
  flex: 1;
  flex-wrap: wrap;
  row-gap: 20px;
}
.image-processor2 {
  width: 300px;
  padding: 0 var(--padding-14xl);
  box-sizing: border-box;
}
.matrix-transformer,
.string-manipulator {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.string-manipulator {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18.5px;
}
.matrix-transformer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.submit-button {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: 37px;
  background-color: rgba(4, 185, 71, 0.8);
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 334px;
  height: 76px;
  z-index: 1;
}
.submit {
  position: absolute;
  top: 22px;
  left: 0;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: var(--font-georama);
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 336px;
  height: 79px;
  z-index: 2;
}
.submit-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: color #04b947;;
  width: 200px;
  height: 50px;
  position: relative;
  max-width: 100%;
  font-size: 20px;
  font-weight:300;
  font-family: Georama;
  color: #fff;
}
.decision-maker {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 70px;
  max-width: 100%;
}
.comparator-bank,
.desktop-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.comparator-bank {
  width: 727px;
  flex-direction: row;
  padding: 0 27px;
  max-width: 100%;
  text-align: left;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #83ffe8, #dffef8);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-45xl) 128px 111px 142px;
  gap: 64px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 900px) {
  .detox-test {
    font-size: 51px;
  }
  .heavy-and-intense,
  .hours,
  .hours1,
  .hours2,
  .hours3,
  .how-long-do,
  .relaxing-and-calming,
  .upbeat-and-energetic,
  .varied-and-depending,
  .what-type-of,
  .x,
  .x1,
  .x2,
  .x3,
  .x4,
  .x5,
  .x6,
  .x7 {
    font-size: var(--font-size-7xl);
  }
  .upbeat-and-energetic-parent {
    min-width: 100%;
  }
  .do-you-listen,
  .do-you-use,
  .energized-and-motivated,
  .how-do-you,
  .no,
  .no-noticeable-change,
  .no1,
  .overwhelmed-and-stressed,
  .relaxed-and-content,
  .x10,
  .x11,
  .x12,
  .x13,
  .x14,
  .x15,
  .x8,
  .x9,
  .yes,
  .yes1 {
    font-size: var(--font-size-7xl);
  }
  .icon-inserter {
    min-width: 100%;
  }
  .have-you-ever,
  .no-i-havent,
  .not-sure,
  .prefer-not-to,
  .x16,
  .x17,
  .x18,
  .x19,
  .yes-i-experience {
    font-size: var(--font-size-7xl);
  }
  .grid-guide {
    min-width: 100%;
  }
  .do-you-pay,
  .no-i-primarily,
  .not-sure1,
  .sometimes-depending-on,
  .x20,
  .x21,
  .x22,
  .x23,
  .yes-i-often {
    font-size: var(--font-size-7xl);
  }
  .frame-parent6 {
    min-width: 100%;
  }
  .frame-wrapper3 {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .above-80,
  .above-recommended-levels,
  .below-recommended-levels,
  .have-you-ever1,
  .x24,
  .x25,
  .x26 {
    font-size: var(--font-size-7xl);
  }
  .input-validator {
    min-width: 100%;
  }
  .filter-chain {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .are-you-willing,
  .no2,
  .submit,
  .x27,
  .x28,
  .yes2 {
    font-size: var(--font-size-7xl);
  }
  .desktop-1 {
    gap: 32px 64px;
    padding-left: 71px;
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .frame-wrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .frame-parent6,
  .grid-guide,
  .icon-inserter,
  .input-validator {
    margin-left: 0;
  }
  .decision-maker {
    gap: 35px 70px;
  }
}
@media screen and (max-width: 450px) {
  .detox-test {
    font-size: 38px;
  }
  .hours,
  .hours1,
  .hours2,
  .hours3,
  .how-long-do,
  .x,
  .x1,
  .x2,
  .x3 {
    font-size: var(--font-size-lgi);
  }
  .output-combiner {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heavy-and-intense,
  .relaxing-and-calming,
  .upbeat-and-energetic,
  .varied-and-depending,
  .what-type-of,
  .x4,
  .x5,
  .x6,
  .x7 {
    font-size: var(--font-size-lgi);
  }
  .upbeat-and-energetic-parent {
    margin-left: 0;
  }
  .do-you-listen,
  .no,
  .x8,
  .x9,
  .yes {
    font-size: var(--font-size-lgi);
  }
  .frame-wrapper1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .above-80,
  .above-recommended-levels,
  .are-you-willing,
  .below-recommended-levels,
  .do-you-pay,
  .do-you-use,
  .energized-and-motivated,
  .have-you-ever,
  .have-you-ever1,
  .how-do-you,
  .no-i-havent,
  .no-i-primarily,
  .no-noticeable-change,
  .no1,
  .no2,
  .not-sure,
  .not-sure1,
  .overwhelmed-and-stressed,
  .prefer-not-to,
  .relaxed-and-content,
  .sometimes-depending-on,
  .submit,
  .x10,
  .x11,
  .x12,
  .x13,
  .x14,
  .x15,
  .x16,
  .x17,
  .x18,
  .x19,
  .x20,
  .x21,
  .x22,
  .x23,
  .x24,
  .x25,
  .x26,
  .x27,
  .x28,
  .yes-i-experience,
  .yes-i-often,
  .yes1,
  .yes2 {
    font-size: var(--font-size-lgi);
  }
  .decision-maker {
    gap: 17px 70px;
  }
  .desktop-1 {
    gap: 16px 64px;
    padding-left: var(--padding-xl);
  }
}