.flower-pot-with-decorative-gra-icon,
.flower-pot-with-decorative-gra-icon1 {
  width: 215px;
  height: 210px;
  position: relative;
  object-fit: cover;
}
.flower-pot-with-decorative-gra-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.detoxify,
.inner-frame {
  max-width: 100%;
  box-sizing: border-box;
}
.inner-frame {
  width: 805px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: 20px;
}
.detoxify {
  margin: 0;
  height: 102px;
  width: 617px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 3px 0 0#000, 0 3px 0#000, -3px 0 0#000, 0-3px 0#000;
  padding-right: var(--padding-xl);
}
.logo-placeholder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.lorem-ipsum-dolor {
  width: 591px;
  position: relative;
  font-size: 20px;
  display: inline-block;
  color: #000;
  max-width: 100%;
}
.decorative-text,
.lorem-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.decorative-text {
  align-self: stretch;
  align-items: flex-end;
  gap: 79px;
}
.lorem-text {
  flex: 1;
  align-items: flex-start;
  min-height: 312px;
}
.flower-pot-with-decorative-gra-icon2 {
  height: 210px;
  width: 215px;
  position: relative;
  object-fit: cover;
}
.detoxify-label,
.detoxify-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.detoxify-label {
  flex: 1;
  align-items: flex-end;
  gap: 25px;
}
.detoxify-label-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 32px;
  box-sizing: border-box;
}
.flower-pot-with-decorative-gra-icon3 {
  width: 215px;
  height: 210px;
  position: relative;
  object-fit: cover;
}
.decorative-rectangle-x {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 0;
}
.flower-pot-with-decorative-gra-icon4 {
  width: 215px;
  height: 210px;
  position: relative;
  object-fit: cover;
}
.decorative-rectangle-x1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 198px 0 0;
}
.vector-shape {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(24.63deg, #01b895, #f3fdfb);
  border: 0 solid var(--color-mediumturquoise);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.login {
  position: absolute;
  top: 57px;
  left: 29px;
  font-size: 60px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 193px;
  height: 104px;
  text-shadow: 2px 0 0 rgba(117, 208, 193, 0.5),
    0 2px 0 rgba(117, 208, 193, 0.5), -2px 0 0 rgba(117, 208, 193, 0.5),
    0-2px 0 rgba(117, 208, 193, 0.5);
  z-index: 2;
}
.vector-shape-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 228px;
  position: relative;
}
.additional-frame,
.additional-frame-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.additional-frame-inner {
  flex: 1;
  flex-direction: column;
  padding: 64px 0 0;
  min-width: 161px;
}
.additional-frame {
  width: 783px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: 35px;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 15px;
}
.container-frame,
.frame-parent,
.main-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 22px;
  box-sizing: border-box;
}
.main-frame {
  flex: 1;
  flex-direction: column;
  gap: 1px;
  text-align: center;
  font-size: 110px;
  color: #01b895;
  font-family: var(--font-poppins);
}
.desktop-1-child {
  height: 228px;
  width: 247px;
  position: relative;
  border-radius: 50%;
  background-color: #c7ece4;
  border: 0 solid var(--color-mediumturquoise);
  box-sizing: border-box;
  display: none;
}
.circle-container-child,
.vector-shape-x {
  position: absolute;
  top: -79px;
  left: 0;
  width: 1167px;
  height: 1150px;
}
.vector-shape-x {
  top: -75px;
  left: 190px;
  border-radius: 50%;
  background-color: #9aded1;
  width: 1149px;
  z-index: 1;
}
.circle-container-item {
  position: absolute;
  top: -64px;
  left: 433px;
  width: 1136px;
  height: 1135px;
  z-index: 2;
}
.circle-container {
  height: 1024px;
  width: 613px;
  position: relative;
  min-width: 613px;
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: 12px;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .circle-container {
    flex: 1;
  }
  .desktop-1 {
    flex-wrap: wrap;
    padding-top: var(--padding-mini);
    padding-right: var(--padding-mini);
    padding-bottom: var(--padding-mini);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .lorem-text {
    min-height: auto;
  }
  .detoxify-label {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .inner-frame {
    flex-wrap: wrap;
  }
  .detoxify {
    font-size: 55px;
  }
  .decorative-text {
    gap: 39px 79px;
  }
  .lorem-text {
    min-width: 100%;
  }
  .login {
    font-size: 48px;
  }
  .additional-frame {
    flex-wrap: wrap;
  }
  .circle-container,
  .main-frame {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .detoxify {
    font-size: 33px;
  }
  .lorem-ipsum-dolor {
    font-size: 16px;
  }
  .decorative-text {
    gap: 20px 79px;
  }
  .decorative-rectangle-x1 {
    padding-top: 129px;
    box-sizing: border-box;
  }
  .login {
    font-size: 36px;
  }
}