.back-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    
  }
  .weekly-goals {
    margin: 0;
    width: 523px;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
    
  }
  .weekly-goals-wrapper {
    width: 1105px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .to-aquire-this {
    height: 66px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    flex-shrink: 0;
    z-index: 1;
  }
  .l0-removebg-preview-1-icon {
    height: 166px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
  }
  .l0-removebg-preview-1-wrapper {
    width: 260px;
    display: flex;
    /* height: 260px; */
    bottom: 200px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 26px;
    box-sizing: border-box;
  }
  .frame-wrapper,
  .to-aquire-this-badge-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .to-aquire-this-badge-parent {
    gap: 16px;
  }
  .frame-wrapper {
    padding: 8px 0 0;
  }
  .stock-photo-innovative-arrow-w-icon {
    height: 210px;
    width: 204px;
    position: relative;
    object-fit: cover;
    z-index: 1;
    padding-top: 20px;
  }
  .follow-this-plan {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .consectetur-adipiscing-elit,
  .curabitur-at-tellus,
  .lorem-ipsum-dolor,
  .vestibulum-sem-vitae {
    margin: 0;
  }
  .lorem-ipsum-dolor-container {
    height: 201px;
    width: 356px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .lorem-ipsum-dolor-sit-amet-co-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 21px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 20px;
  }
  .follow-this-plan-we-curated-fo-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 103px;
    min-width: 383px;
    max-width: 100%;
  }
  .stock-photo-innovative-arrow-w-parent {
    width: 863px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 70px;
    max-width: 100%;
  }
  .desktop-1,
  .frame-parent {
    display: flex;
    align-items: flex-start;
    color: var(--color-black);
  }
  .frame-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: 20px;
    text-align: left;
    font-size: var(--font-size-8xl);
    font-family: var(--font-poppins);
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 99px 15px 311px 167px;
    box-sizing: border-box;
    gap: 183px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 70px;
    font-family: var(--font-georama);
    
  }
  @media screen and (max-width: 1350px) {
    .frame-parent {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 1150px) {
    .stock-photo-innovative-arrow-w-parent {
      gap: 70px 35px;
    }
  }
  @media screen and (max-width: 800px) {
    .weekly-goals {
      font-size: 56px;
    }
    .stock-photo-innovative-arrow-w-icon {
      flex: 1;
    }
    .follow-this-plan-we-curated-fo-parent {
      gap: 51px 103px;
      min-width: 100%;
    }
    .stock-photo-innovative-arrow-w-parent {
      flex-wrap: wrap;
    }
    .desktop-1 {
      gap: 91px 183px;
      padding-left: 83px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .weekly-goals {
      font-size: 42px;
    }
    .follow-this-plan,
    .to-aquire-this {
      font-size: var(--font-size-3xl);
    }
    .lorem-ipsum-dolor-container {
      font-size: 16px;
    }
    .follow-this-plan-we-curated-fo-parent {
      gap: 26px 103px;
    }
    .stock-photo-innovative-arrow-w-parent {
      gap: 70px 17px;
    }
    .desktop-1 {
      gap: 46px 183px;
    }
}
