body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-georama: Georama;
  
    /* font sizes */
    --font-size-8xl: 27px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color-black: #000;
  
    /* Paddings */
    --padding-xl: 20px;
  }